:root {
    --color-dark: #303048;
    --color-burgundy: #481830;
    --color-red: #783030;
    --color-cream: #F0F0D8;
    --color-light: #F0F0F0;

    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Nunito", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--color-dark);
    color: var(--color-cream);

    display: grid;
    grid-template-rows: 121px 325px 206px;
    min-height: 100vh;
}

header {
    background-color: var(--color-dark);
    padding-top: 20px;
}

header p {
    font-family: var(--heading-font);
    font-size: 32px;
    color: var(--color-cream);
    margin-left: 21px;
}

nav {
    height: 50px;
    margin-top: 30px;

    background-color: var(--color-burgundy);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-cream);
}

nav a:hover {
    color: var(--color-light);
}

main {
    display: grid;
    grid-template-columns: 73% 27%;
}

.main-content {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 19px 21px;
}

.main-content p {
    font-family: var(--heading-font);
    font-size: 28px;
}

.aside-content {
    background-color: var(--color-red);
    color: var(--color-cream);
    padding: 19px 21px;
}

.aside-content p {
    font-family: var(--heading-font);
    font-size: 28px;
}

footer {
    background-color: var(--color-dark);
    text-align: center;
    padding-top: 20px;
}

footer p {
    font-family: var(--body-font);
    color: var(--color-cream);
    font-weight: 600;
}